@import '../styles/vars.scss';

//Error styling
.error_container {
  max-width: 400px;
  margin: 100px auto 0;
  border: 2px solid $color--gryffindor-primary;
  padding: 8px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 5px;
  button {
    margin: 0 auto;
    display: block;
    padding: 4px;
    border: none;
    border-radius: 5px;
  }
}
