@import '../../styles/vars.scss';

.container {
  border-bottom: 5px dotted $color--black;
  .wrapper {
    max-width: 500px;
    margin: 0 auto;

    section {
      padding: 8px 0;
      border-bottom: 3px solid $color--black;
      h1,
      h3 {
        text-align: center;
      }
      ul {
        padding: 8px 0;
      }
    }
    section:last-child {
      border-bottom: none;
    }

    .picture_section {
      .image_container {
        width: 220px;
        height: 220px;
        background: $color--black;
        border-radius: 50%;
        overflow: hidden;
        border: 5px solid $color--black;
        margin: 0 auto;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: top;
        }
      }

      //Picture borders
      .Gryffindor {
        border-color: $color--gryffindor-primary;
      }
      .Slytherin {
        border-color: $color--slytherin-primary;
      }
      .Hufflepuff {
        border-color: $color--hufflepuf-primary;
      }
      .Ravenclaw {
        border-color: $color--ravenclaw-primary;
      }
    }

    .general_info_section {
      ul {
        border-top: 3px solid $color--black;
      }
    }

    .wand_section {
      position: relative;
      img {
        margin: -60px auto 0;
        display: block;
      }
      .wand_components {
        margin-top: -20px;
        display: flex;
        justify-content: center;
        text-align: center;
        margin-top: -40px;
        strong {
          text-decoration: underline;
        }
      }
      .wand_components > div {
        border: 1px solid $color--black;
        padding: 4px;
      }
    }
  }
}
