//Fonts
@font-face {
  font-family: 'HP';
  src: url('/HP.ttf');
  font-weight: normal;
  font-style: normal;
}

//Comes from public folder
$font1: 'HP', sans-serif;
//Comes from font.ts
$font2: var(--merriweather), sans-serif;

//Colors
$color--background: #00296b;

$color--white: #ffffff;
$color--black: #0e1211;

$color--gryffindor-primary: #740001;
$color--gryffindor-secondary: #d3a625;

$color--slytherin-primary: #1a472a;
$color--slytherin-secondary: #5d5d5d;

$color--hufflepuf-primary: #ffd800;
$color--hufflepuf-secondary: #000000;

$color--ravenclaw-primary: #0e1a40;
$color--ravenclaw-secondary: #946b2d;

/////////////////////////
//       Functions     //
/////////////////////////

@function pixelToRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

/////////////////////////
//        Mixins       //
/////////////////////////

@mixin font-size($size) {
  font-size: $size;
  font-size: pixelToRem($size);
}
