@import "../../../styles/vars.scss";

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: $color--black;
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    color: $color--white;
  }
}
